@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Elikem Afeawo<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    614-822-1337
</address>

<address>
   
    <strong>Marketing:</strong> <a href="mailto:ea446115@ohio.edu">ea446115@ohio.edu</a>
</address>