@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">MIS 4200 is the capston systems development course.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scrum</h2>
        <p>
           Scrum is a modern approach to project management based on agile principles
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>MVC is the type of application we are creating <br /> @Html.ActionLink("Flyer", "Index", "Flyers")<br /> @Html.ActionLink("Flight", "Index", "Flights")<br /> @Html.ActionLink("Airplane", "Index", "Airplanes")<br /> @Html.ActionLink("FlightDetail", "Index", "FlightDetails")</p>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
       
    </div>
</div>